default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\oe_paragraphs\Behat\DrupalContext
        - Drupal\Tests\oe_paragraphs\Behat\FieldsContext
        - Drupal\Tests\oe_paragraphs\Behat\ParagraphsContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              content management: "/admin/content"
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      browser_name: 'chrome'
      javascript_session: selenium2
      ajax_timeout: 10
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "chrome", "version": "*" }
      base_url: "${drupal.base_url}"
      files_path: "%paths.base%/tests/fixtures/"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
      selectors:
        message_selector: ".messages,.ecl-message"
        error_message_selector: ".messages.messages--error,.ecl-message--error"
        success_message_selector: ".messages.messages--status,.ecl-message--success"
      region_map:
        social media links form element: ".field--name-field-oe-social-media-links"
  formatters:
    progress: ~
