default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\oe_media\Behat\MediaContext
        - Drupal\Tests\oe_media\Behat\WebtoolsContext
        - Drupal\Tests\oe_content\Behat\FeatureContext
        - Drupal\Tests\oe_paragraphs\Behat\CleanupContext
        - Drupal\Tests\oe_paragraphs\Behat\DrupalContext
        - Drupal\Tests\oe_paragraphs\Behat\FieldsContext
        - Drupal\Tests\oe_paragraphs\Behat\MediaContext
        - Drupal\Tests\oe_paragraphs\Behat\ParagraphsContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              content management: "/admin/content"
              iframe creation: "/media/add/iframe"
              image creation: "/media/add/image"
              document creation: "/media/add/document"
              remote video creation: "/media/add/remote_video"
              avportal video creation: "/media/add/av_portal_video"
              avportal photo creation: "/media/add/av_portal_photo"
              Webtools chart creation: 'media/add/webtools_chart'
              Webtools map creation: 'media/add/webtools_map'
              Webtools social feed creation: 'media/add/webtools_social_feed'
              Webtools countdown creation: 'media/add/webtools_countdown'
              Video iframe creation: 'media/add/video_iframe'
  extensions:
    Drupal\MinkExtension:
      browserkit_http: ~
      browser_name: 'chrome'
      javascript_session: selenium2
      ajax_timeout: 10
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "chrome", "version": "*" }
      base_url: "${drupal.base_url}"
      files_path: "%paths.base%/tests/fixtures/"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
      selectors:
        message_selector: ".messages,.ecl-message"
        error_message_selector: ".messages.messages--error,.ecl-message--error"
        success_message_selector: ".messages.messages--status,.ecl-message--success"
      region_map:
        social media links form element: ".field--name-field-oe-social-media-links"
        see more form element: ".field--name-field-oe-social-media-see-more"
        demo paragraphs element: ".field--name-field-oe-demo-body"
  formatters:
    progress: ~
